# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)

### Compare June and December data across all years

In [5]:
from scipy import stats

In [6]:
# Filter data for desired months
#filter June
# df_june = df.loc[df['date'].dt.month == 6]
# df_june.set_index('date', inplace = True)
df_june = df[df.index.month == 6]

#filter December
# df_dec = df.loc[df['date'].dt.month == 12]
# df_dec.set_index('date', inplace = True)
df_dec = df[df.index.month == 12]

In [19]:
df_dec['tobs'].fillna(0)

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [7]:
# Identify the average temperature for June
df_june['tobs'].mean()

74.94411764705882

In [8]:
# Identify the average temperature for December
df_dec['tobs'].mean()

71.04152933421226

In [13]:
# Create collections of temperature data
dec_temp = df_dec['tobs']
june_temp = df_june['tobs']

pandas.core.series.Series

In [20]:
# Run t-test
stats.ttest_ind(june_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

We would not use a paired t-test for a couple of reasons: the datasets are not equal in size and there is no reason to believe there is a relationship between the days in June and the days in December. With such a small p-value, we can reject the null hypothesis and accept the altnernate hypothesis that there is no meaningful difference in the average temperatures for June and December